* {
  box-sizing: border-box;
}

:root {
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  --animation-duration: 250ms;
}

body {
  font-family: sans-serif;
  background: black;
  color: #212121;
  line-height: 1.5;
  margin: 0;
  padding: 0;
}

.is-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.header {
  background-color: rgb(255, 194, 204, 0.9);
  position: fixed;
  top: 0;
  width: 100%;
}

section {
  padding-top: 70px;
}

.search-form {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  padding: 15px;
  margin: 0px;
}

.search-form-input {
  width: 300px;
  height: 40px;
  font-size: 16px;
  outline: none;
  border: none;
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
  padding: 5px 5px;

  &::placeholder {
    font-size: 16px;
  }
}

.search-form-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  height: 40px;
  padding: 5px 5px;
  outline: none;
  border: none;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
  background-color: white;
  font-size: 18px;
  font-weight: 600;
}

.search-form-btn:hover,
.search-form-btn:focus {
  background-color: rgb(255, 194, 204, 0.2);
}

.search-form-btn:hover .icon-search,
.search-form-btn:focus .icon-search {
  fill: black;
}

.icon-search {
  fill: pink;
}

.gallery {
  --items: 4;
  --gap: 20px;

  display: flex;
  flex-wrap: wrap;
  gap: var(--gap);
  padding: 0 20px;
  list-style: none;
}

.gallery__item {
  flex-basis: calc((100% - var(--gap) * (var(--items) - 1)) / var(--items));
}

.gallery__link {
  display: block;
  transition: transform var(--animation-duration) var(--timing-function),
    box-shadow var(--animation-duration) var(--timing-function);
  text-decoration: none;
}

.gallery__image {
  height: 100%;
  width: 100%;
  object-fit: cover;
  transition: transform var(--animation-duration) var(--timing-function);
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.gallery__link:hover,
.gallery__link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
  cursor: zoom-in;
  transform: scale(1.03);
}

.gallery__photo-card {
  height: 200px;
}

.gallery__info {
  padding: 8px 20px;
  border: 1px solid pink;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12);
  border-top: 0;

  display: flex;
  gap: 12px;
  justify-content: space-between;
}

.info__item {
  margin: 0;
  font-size: 13px;
  text-align: center;
  line-height: 1.5;
  color: white;
}
.info__item-name {
  color: pink;
  font-size: 15px;
  font-weight: 600;
}
.finish-text {
  text-align: center;
  margin: 10px auto;
  font-size: 12px;
  color: pink;
}
